
body {
  background-image: url("https://wallpaperaccess.com/full/8624.jpg");
  font-family: sans-serif;
  background-color: yellow;
  font-family: "Iceland", cursive;
}
.searchBar {
  padding: 20px 0;
  text-align: center;
  background-color: blue;
  border-radius: 8px 8px 0 0;
}
label {
  font-size: 1.3rem;
}
input[type="text"] {
  height: 40px;
  padding-left: 10px;
  font-family: "Iceland", cursive;
}
#pokeOutput {
  padding: 50px 50px 50px;
}
#pokeImage {
  display: block;
  margin: 50px 0;
  width: 180px;
  position: relative;
  left: -45px;
}
.base-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.stat {
  font-weight: 700;
}


.size {
  display: inline-block;
  float: right;
  margin-right: 5px;
}



.container {
  width: 450px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

.image-container {
  height: 300px;
  background-color: ;
  white-space: nowrap;
  border: 1px solid Red;
  color: #fff;
  font-size: 1.2rem;
}

.bigBtn {
  height: 40px;
  width: 120px;
  font-weight: 700;
  position: relative;
  top: -2px;
}
.changeBtn {
  height: 40px;
  width: 54px;
  font-size: 1.5rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem;
}

td,
th {
  border: 1px solid Red;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: Red;
}
.pokeType {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
  margin-left: 5px;
  font-weight: 700;
}
